<tr id="<%= dom_id article %>">
  <td><%= article.id %></td>
  <td><%= link_to truncate(article.title, length: 50), article %></td>
  <td><%= article.category.name %></td>
  <td><%= render_article_status(article) %></td>
  <td>
      <%= link_to 'Edit', edit_article_path(article), class: "btn btn-mini" %> 
      <%= link_to 'Delete', article_path(article), :method => :delete, confirm: "你确定要删除吗？", class: "btn btn-danger btn-mini" %>
  </td>
</tr>