<div class="box">
  <h2>文章</h2>

  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>内容</th>
      <th>所属类别</th>
    </tr>
  
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= truncate(article.body) %></td>
      <td><%= article.category.name %></td>
    </tr>
    <% end %>
  
    <%= will_paginate @articles %>
  
  </table>
</div>
