<%= form_for @notification do |f| %>
  <fieldset>
    <legend></legend>
    <%= render 'shared/error_messages', :target => @notification %>
    <div class="control-group">
      <%= f.label :content %>
      <div class="controls">
        <%= f.text_field :content %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "发送通知", class: "btn btn-success", :disable_with => '正在发送...' %>
      </div>
    </div>
  </fieldset>
<% end %>
