<div class="box">
  <div class="row-fluid">
    <div class="span8"><h2>分类</h2></div>
    <div class="span4"><%= link_to '新建分类', new_category_path, class: "btn btn-primary pull-right" %></div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>文章数</th>
      <th>颜色</th>
      <th>#</th>
    </tr>
  
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= link_to category.name, category %></td>
      <td><%= category.articles_count %></td>
      <td><div style="width:100px;height:30px;line-height:30px;text-align:center; border: 1px solid black; background:<%= category.try(:color) %>"><%= category.try(:color) %></div></td>
      <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-mini" %> 
      <%= link_to 'Delete', category_path(category), :method => :delete, confirm: "你确定要删除吗？", class: "btn btn-danger btn-mini" %></td>
    </tr>
    <% end %>
  
    <%= will_paginate @categories %>
  
  </table>
</div>

