<div class="well">
  <div class="row-fluid">
    <div class="span8"><h2><%= @category.name %>(<%= @category.articles_count %>)</h2></div>
    <div class="span4"><%= link_to '随机发布文章', publish_articles_path(:category_id => @category.id), confirm: '你确定吗？', class: "btn btn-primary pull-right" %></div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>所属类别</th>
      <th>文章状态</th>
      <th>#</th>
    </tr>
  
    <%= render :partial => 'articles/article', :collection => @articles %>
  
    <%= will_paginate @articles %>
  
  </table>
  
</div>