<!DOCTYPE html>
<html>
<head>
  <title>生活百科</title>
  <%= stylesheet_link_tag    "front" %>
  <%= yield :styles %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to("生活百科", root_path, :class => "brand")%>
        <ul class="nav">
          <li><%= link_to "首页",  root_path %></li>
          <li><%= link_to "类别",  categories_path %></li>
          <li><%= link_to "文章",  articles_path %></li>
          <li><%= link_to "设备",  device_infos_path %></li>
          <li><%= link_to "通知",  notifications_path %></li>
          <li><%= link_to "发布文章",  publishes_path %></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <%= notice_message %>
    <%= yield %>
  </div>
  
  
  
  
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  
</body>
</html>
